extends layout
block content
    body
        .container
            h2 How do I use Defcon One?
            p
             | It's easy! Sign up using the link under the users menu in the corner of this site. Once you have an account, go to "contacts" to 
             | add phone numbers and email addresses of people you want to alert. When you need help, click the "red button" link, and click one 
             | of the buttons, depending on your situation. The buttons will send the displayed message to everyone in your Defcon One contacts list. 
             | Please use the crisis buttons if it is an emergency. If you are having suicidal thoughts, please call a suicide hotline 
             a(href='tel://+18002738255') (1-800-273-TALK)
             |  or visit 
             a(href='http://imalive.org') IMAlive
             |  to get help over instant message. If you or someone you know is in immediate danger, call 
             a(href='tel://911') 9-1-1.
            h2 Who made Defcon One?
            p
              | Defcon One was written by Ben Bailey, a high school student from Austin, Texas. Check out 
              a(href='http://benbailey.me/landing') his website.
            h2 Technical details
            p
              | Defon One is open-source and all the code is 
              a(href='https://github.com/benfb/defconone') available on Github.
              |  Feel free to fork it and contribute if you see something that could be improved, or have an idea for a new feature.
            h3 What was Defcon One built with?
            ul
              li
                a(href='http://nodejs.org') Node.js
              li
                a(href='http://mongodb.org') MongoDB
              li
                a(href='http://getbootstrap.com') Twitter Bootstrap
              li
                a(href='https://heroku.com') Heroku
              li
                a(href='http://mongolab.com') MongoLab
              li
                a(href='http://sendgrid.com') SendGrid
              li
                a(href='http://telapi.com') TelAPI
              li
                a(href='http://jslint.com') JSLint
              li
                a(href='http://expressjs.com') express
              li
                a(href='http://passportjs.com') Passport
              li
                a(href='http://mongoosejs.com') mongoose
              li
                a(href='http://brackets.io') Brackets
            