extends layout
block content
	body
		.container
			h1 Hey there, #{user.username}!
			form.form-signin(action="/sms", method="get")
				h4 Phone numbers:
				each phonenum in user.phone
					li= phonenum
				<br>
				button.btn.btn-lg.btn-success.btn-block(type='submit') Send SMS
				<br>
			form.form-signin(action="/email", method="get")
				h4 Email addresses:
				each emailaddr in user.email
					li= emailaddr
				<br>
				button.btn.btn-lg.btn-primary.btn-block(type='submit') Send email