extends layout
block content
    body
    .container
        form.form-signin
            h2.form-signin-heading Send an email
            input(type="text", class="form-control", name="email", placeholder="Email address", autofocus="autofocus")
            <br>
            button.btn.btn-lg.btn-danger.btn-block(type='submit') Send email