extends layout
block content
    body
        .container
          .jumbotron
            h1 Defcon One
            p.lead
              | An alert system for people who struggle with psychological disorders to send messages and get in touch with friends, family, and hotlines through a simple web interface.
            p
              a.btn.btn-lg.btn-success(href='#') Sign up today
          .row.marketing
            .col-lg-6
              h4 Subheading
              p
                | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
              h4 Subheading
              p
                | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
              h4 Subheading
              p Maecenas sed diam eget risus varius blandit sit amet non magna.
            .col-lg-6
              h4 Subheading
              p
                | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
              h4 Subheading
              p
                | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
              h4 Subheading
              p Maecenas sed diam eget risus varius blandit sit amet non magna.

        div.container
            form.form-signin(action="/email/addr", method="get")
                form-signin-heading("Please sign in")
                input(type="text", class="form-control", name="email", placeholder="Email address")
                input(type="submit", class="btn btn-large btn-danger btn-block", value="Send Email")
                <br>
            form.form-signin(action="/sms", method="get")
                input(type="tel", class="form-control", name="sms", placeholder="(XXX) XXX-XXXX")
                input(type="submit", class="btn btn-large btn-success btn-block", value="Send SMS")
        .container
            form.form-signin(method="get", action="/login")
                h2.form-signin-heading Please sign in
                input.form-control(type='text', name='user', placeholder='Username')
                input.form-control(type='password', placeholder='Password')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

        div.footer