extends layout
block content
    body
      .jumbotron
        .container
            h1 Defcon One
            p
              | An alert system for people who struggle with psychological disorders to send messages and get in touch with friends, family, and hotlines through a simple web interface.
            p
              a.btn.btn-primary.btn-lg(href="/signup") Sign up »
      .container
        .row
          .col-lg-4
            h2 Email
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#') View details »
          .col-lg-4
            h2 SMS
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#') View details »
          .col-lg-4
            h2 Hotlines
            p
              | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            p
              a.btn.btn-default(href='#') View details »
        hr
        footer
          p © Defcon One 2013


    //- div.container
    //-     form.form-signin(action="/email/addr", method="get")
    //-         form-signin-heading("Please sign in")
    //-         input(type="text", class="form-control", name="email", placeholder="Email address")
    //-         input(type="submit", class="btn btn-large btn-danger btn-block", value="Send Email")
    //-         <br>
    //-     form.form-signin(action="/sms", method="get")
    //-         input(type="tel", class="form-control", name="sms", placeholder="(XXX) XXX-XXXX")
    //-         input(type="submit", class="btn btn-large btn-success btn-block", value="Send SMS")
    //- .container
    //-     form.form-signin(method="post", action="/login")
    //-         h2.form-signin-heading Please sign in
    //-         input.form-control(type='text', name='user', placeholder='Username')
    //-         input.form-control(type='password', name='password', placeholder='Password')
    //-         button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

    //- .container
    //-   div.footer
    //-     p &copy; Defcon One 2013