extends layout
block content
    body
      if (message.length != 0)
        .alert.alert-danger #{message}
      .jumbotron
        .container
            h1 Defcon One
            p
              | An alert system for people who struggle with psychological disorders to send messages and get in touch with friends, family, and hotlines through a simple web interface.
            p
              a.btn.btn-primary.btn-lg(href="/signup") Sign up »
      .container
        .row
          .col-lg-4
            h2 Email
            p
              | Use our service to notify people via email.
            p
              a.btn.btn-default(href='#') View details »
          .col-lg-4
            h2 SMS
            p
              | Use our service to notify people via text message.
            p
              a.btn.btn-default(href='#') View details »
          .col-lg-4
            h2 Hotlines
            p
              | Use our service to contact several important hotlines.
            p
              a.btn.btn-default(href='#') View details »
        hr
        footer
          p © Defcon One 2013