extends layout
block content
	body
		div.container
			form.form-signin(form-signin-heading="Please sign in")
				input(type="text", class="form-control", placeholder="Email address")
				input(type="submit", class="btn btn-large btn-danger btn-block", value="Send")
		div.footer