extends layout
block content
    body
      .jumbotron
        .container
            include messages
            h1 Defcon One
            p
              | An alert system for people in times of need to send messages and get in touch with friends, family, 
              | and hotlines through a simple web interface. If you are in immediate danger, call 9-1-1 right now.
            p
              a.btn.btn-primary.btn-lg(href="/signup") Sign up &raquo;
      .container
        .row
          .col-lg-4
            h2 Alert
            p
              | Defcon One lets you email and text several people with the press of a button if you're struggling, 
              | enabling you to get the help and care you need.
          .col-lg-4
            h2 Crisis
            p
              | Defcon One also provides a more urgent service, allowing users to contact everyone at once if they are feeling suicidal or do not feel safe.
          .col-lg-4
            h2 Hotlines
            p
              | Defcon One provides links to several hotlines through the 
              a(href="/hotlines") hotlines
              |  page. Just select what you're struggling with and you'll be redirected to professionals at any time of the day.
