!!! 5
html
  head
    title= "Defcon One"
    meta(charset="utf-8")
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/jumbotron.css')
    link(rel='icon', href='/img/favicon.ico', type='image/x-ico')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='js/bootstrap.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Defcon One
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/brb') Red Button
            li
              a(href='/hotlines') Hotlines
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Users
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/signin') Sign In
                  li
                    a(href='/signup') Sign Up
                  li
                    a(href='/settings') Settings
                  li
                    a(href='/logout') Sign Out
    block content
