doctype html
html
  head
    title #{title} | Defcon One
    meta(charset="utf-8")
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/jumbotron.css')
    link(rel='stylesheet', href='/css/add2home.css')
    link(rel='icon', href='/img/favicon.ico')
    link(rel='apple-touch-icon', href='/img/favicon-iphone.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='/js/add2home.js')
  body
    include nav
    block content
    include footer
