!!! 5
html
  head
    title= "Defcon One"
    meta(charset="utf-8")
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.css')
    //link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/jumbotron.css')
    link(rel='icon', href='/img/favicon.ico')
    link(rel='apple-touch-icon', href='/img/favicon-iphone.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='js/bootstrap.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(class='navbar-toggle', type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a.navbar-brand(href='/') Defcon One
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                span(class="glyphicon glyphicon-home")
                |  Home
            li
              a(href='/brb')
                span(class="glyphicon glyphicon-warning-sign")
                |  Red Button
                script.
                  if (window.location.href.indexOf('/brb') != -1) {
                    $('.nav.navbar-nav a:contains("brb")').parent().addClass('active');
                  }
            li
              a(href='/hotlines')
                span(class="glyphicon glyphicon-earphone")
                |  Hotlines
                script.
                  if (window.location.href.indexOf('/hotlines') != -1) {
                    $('.nav.navbar-nav a:contains("hotlines")').parent().addClass('active');
                  }
            li
              a(href='/contacts')
                span(class="glyphicon glyphicon-book")
                |  Contacts
                script.
                  if (window.location.href.indexOf('/contacts') != -1) {
                    $('.nav.navbar-nav a:contains("contacts")').parent().addClass('active');
                  }
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span(class="glyphicon glyphicon-user")
                  |  Users
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/signin') Sign In
                  li
                    a(href='/signup') Sign Up
                  li
                    a(href='/settings') Settings
                  li
                    a(href='/logout') Sign Out
    block content
