if (messageE.length != 0)
    .alert.alert-dismissable.alert-danger.fade.in #{messageE}
        button(type="button", class="close", data-dismiss="alert") &times;
if (messageI.length != 0)
    .alert.alert-dismissable.alert-info.fade.in #{messageI}
        button(type="button", class="close", data-dismiss="alert") &times;
if (messageS.length != 0)
    .alert.alert-dismissable.alert-success.fade.in #{messageS}
        button(type="button", class="close", data-dismiss="alert") &times;