extends layout
block content
    body
        .container
            h1 Hey there, #{user.name}!
            if (messageE.length != 0)
                .alert.alert-danger.fade.in #{messageE}
                    a.close(href="#", data-dismiss="alert") x
            if (messageI.length != 0)
                .alert.alert-info.fade.in #{messageI}
                    a.close(href="#", data-dismiss="alert") x
            if (messageS.length != 0)
                .alert.alert-success.fade.in #{messageS}
                    a.close(href="#", data-dismiss="alert") x
            .col-md-6
                form.form(action="/settings/changepass", method="post")
                    h3.form-signin-heading Change your password
                    input.form-control(type='password', name='newpass', autocomplete='off', placeholder='New Password')
                    <br>
                    input.form-control(type='password', name='newpass2', placeholder='New Password Again')
                    <br>
                    button.btn.btn-lg.btn-warning.btn-block(type='submit') Change password
            .col-md-6
                form.form-signin(action="/settings/delete", method="post")
                    h3.form-signin-heading Delete your account
                    input.form-control(type='text', name='uname', autocomplete='off', placeholder='Username')
                    <br>
                    input.form-control(type='password', name='verifydelete', placeholder='Password')
                    <br>
                    button.btn.btn-lg.btn-danger.btn-block(type='submit') Delete your account