//link(rel='stylesheet', href='/css/signup.css')
extends layout
block content
    body
        .container
            form.form-signin(action="/signup", method="post")
                h2.form-signin-heading Sign up
                if (message.length != 0)
                    .alert.alert-danger #{message}
                input.form-control(type='text', name='username', placeholder='Username', autofocus='autofocus')
                <br>
                input.form-control(type='password', name='password', placeholder='Password')
                <br>
                button.btn.btn-lg.btn-success.btn-block(type='submit') Sign up
